Course 5, Task 1:
This is the assignment from the Plan of Attack, step 2:

In [31]:
import numpy
import numpy as np
import math
import math as mt
from scipy import stats

In [2]:
type(np)
type(mt)

module

In [19]:
math.pi

3.141592653589793

In [3]:
math.sqrt(25)

5.0

In [23]:
from numpy import random
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)
dataOne

array([[0.02323478, 0.66215359, 0.59485551, 0.40865575, 0.48629164],
       [0.87995993, 0.76445822, 0.88142853, 0.60047091, 0.39291044],
       [0.07445722, 0.28398586, 0.96433857, 0.91970246, 0.30121611],
       [0.35376005, 0.64968054, 0.057484  , 0.02212402, 0.82830422],
       [0.82842335, 0.16679644, 0.66614245, 0.4971827 , 0.96222876]])

In [24]:
np.mean(dataOne)

0.5308098423828933

In [26]:
np.median(dataOne)

0.5948555122327254

In [36]:
stats.mode(dataOne)

ModeResult(mode=array([[0.02323478, 0.16679644, 0.057484  , 0.02212402, 0.30121611]]), count=array([[1, 1, 1, 1, 1]]))

In [37]:
stats.gmean(dataOne)

array([0.21374398, 0.43500993, 0.45434781, 0.30128352, 0.53989257])

In [40]:
np.max(dataOne)

0.9643385748511443

In [41]:
np.min(dataOne)

0.02212401638935113

In [42]:
print('I Love data Science')

I Love data Science

In [43]:
variableName = 25
variableName1 = "I Love data Science"

In [44]:
print(variableName1)

I Love data Science

In [46]:
type(variableName)

int

In [47]:
type(variableName1)

str

In [48]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [51]:
varOne = 25
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
print(type(varOne))
print(type(varTwo))

<class 'int'>
<class 'str'>

In [57]:
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [58]:
tel={'jack': 4098, 'sape': 4139}

In [59]:
tel['jack']

4098

In [9]:
d= {'k1':1, 'k2':2,'k3':3,'k4':4,'k5':5}

In [8]:
type(d)

dict

In [9]:
d.values()

dict_values([1, 2, 3, 4, 5])

In [10]:
(2*d['k2']) / d['k2']

2.0

In [11]:
mt.pow(d['k2'],d['k4'])

16.0

In [12]:
num1 = d['k3']*d['k4']*d['k5']

In [4]:
mt.sqrt(25)

5.0

In [13]:
mt.sqrt(num1)

7.745966692414834

In [14]:
mt.pow(num1,.5)

7.745966692414834

In [60]:
print('60^.5  =',mt.pow(num1,.5))
print('sqrt of 60 =', (num1))
print('2 to the power of 4 =', mt.pow(d['k2'],d['k4']))

60^.5  = 7.745966692414834
sqrt of 60 = 60
2 to the power of 4 = 16.0